<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h1 class="font-weight-bold"><i class="fa-brands fa-jedi-order"></i>クエスト指示書</h1>
    </div>
    <div class="offset-1"></div>
  </div>
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h3 class="text-center pt-3"><strong>
      <% if logged_in? %>
        <%= current_user.name %>
      <% else %>
        ゲスト
      <% end %>
      さんへのクエスト発生！
      </strong></h3>
      <p class="text-center pt-3"><u><strong><%= @quests.to_a.sample.node.title %></strong></u>を視聴しよう！</p>
    </div>
    <div class="offset-1"></div>
  </div>
  <div class="row py-3">
    <div class="offset-4"></div>
    <div class="col-4 d-flex justify-content-between">
      <a class="btn btn-secondary font-weight-bold" href="/quest" role="button">クエスト変更</a>
      <% if logged_in? %>
      <a class="btn btn-primary font-weight-bold" href="/ranking" role="button">視聴完了</a>
      <% else %>
      <a class="btn btn-primary font-weight-bold" href="/login_page" role="button">ログイン</a>
      <% end %>
    </div>
    <div class="offset-4"></div>
  </div>
  <div class="row py-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <% if not logged_in? %>
      <p class="text-center"><small>※ゲストの方は視聴を完了しても経験値は獲得できません。<br>ログインボタンよりログインをしてからクエストを受注してください。※</small></p>
      <% end %>
    </div>
    <div class="offset-1"></div>
  </div>
</div>