<div class="container-fluid">
  <div class="row pt-2">
    <div class="offset-1"></div>
    <div class="col-10">
      <p class="text-center"><u><strong><%= @quests.to_a.sample.node.title %></strong></u>を視聴しよう！</p>
    </div>
    <div class="offset-1"></div>
  </div>
</div>