<div class="container-fluid">
  <div class="row pt-2">
    <div class="offset-1"></div>
    <div class="col-10">
      <h1 class="font-weight-bold"><i class="fa-solid fa-right-to-bracket"></i>ログイン</h1>
      </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-10">
      <p>リンク貼る</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-10">
      <h2 class="border-bottom border-left border-dark font-weight-bold">&nbsp;Twitter連携</h2>
      <p>アニメストでは、Twitter APIを活用したアカウント連携により、新規会員登録をせず安全にサービスを利用することが可能です。
      <br>上部記載の「ログイン」ボタンよりアカウント連携を行なってください。</p>
      <p>Twitterアカウントをお持ちでない方は、[btn]よりアカウントを作成してください。</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-10">
      <h2 class="border-bottom border-left border-dark font-weight-bold">&nbsp;利用に際して</h2>
      <p>アニメスト側が勝手にフォロー・ツイート等をおこなうことはありません。
      <br></p>
      <p></p>
    </div>
  </div>

</div>
