<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h1 class="font-weight-bold"><i class="fa-solid fa-right-to-bracket"></i>ログイン</h1>
    </div>
  </div>
  <div class="row my-4">
    <div class="offset-1"></div>
    <div class="col-10">
      <a href="/auth/twitter" class="btn btn-block btn-primary">
        <i class="fa-brands fa-twitter mr-3"></i> アカウント連携
      </a>
    </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-10">
      <h2 class="border-bottom border-left border-dark font-weight-bold">&nbsp;Twitter連携</h2>
      <p class="m-0">アニメストでは、Twitter APIを活用したアカウント連携により、当サイトに個人情報の登録をせず安全にサービスを利用することが可能です。
      <br>上部記載の「アカウント連携」ボタンよりアカウント連携を行なってください。</p>
      <p class="m-0">Twitterアカウントをお持ちでない方は、
      <a href="https://twitter.com/signup" class="btn btn-sm btn-info"><i class="fa-brands fa-twitter mr-2"></i>新規登録</a>よりアカウントを作成してください。</p>
      <p>なお、アカウント連携により
      <br>1.名前
      <br>2.自己紹介文
      <br>3.プロフィール画像
      <br>4.アカウント名
      <br>5.ユーザーID
      <br>の5つの情報を取得、使用します。
      <br>1及び2は他ユーザーが、3は本人のみが閲覧可能で、4及び5は当サイトのアカウント管理用として使用されます。</p>
    </div>
  </div>
  <div class="row pb-3">
    <div class="offset-1"></div>
    <div class="col-10">
      <h2 class="border-bottom border-left border-dark font-weight-bold">&nbsp;利用に際して</h2>
      <ul class="pl-3">
        <li>Twitterの「設定→セキュリティとアカウントアクセス→アプリとセッション→連携しているアプリ」より確認できる当サイトの連携名称は「アニメスト」です。</li>
        <li>アニメストが勝手にフォロー・ツイート等をおこなうことはありません。</li>
        <li>連携されたTwitterアカウントの情報を当サイト以外で使用することはありません。</li>
        <li>連携されたTwitterアカウントの情報を第三者に提供することはありません。</li>
        <li>アニメストには、このページとログアウト後ページ以外にTwitter連携へ誘導するページはありません。その他のログインページは当サイトではございませんので注意してください。</li>
      </ul>
    </div>
  </div>
</div>
