<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-10" style="height:200px; width:100%;">
      <h1 class="font-weight-bold"><i class="fa-solid fa-right-from-bracket"></i>ログアウト完了</h1>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <p class="text-center" style="font-size: 40px;"><strong>ログアウトしました。<br>ご利用、ありがとうございました。</strong></p>
      <div class="text-center">
        <h5>再びログインする場合は右上アイコン及び<a href="/auth/twitter" class="btn btn-sm btn-primary"><i class="fa-brands fa-twitter mr-1"></i> アカウント連携</a>
        からお願いします。
        </h5>
      </div>
    </div>
  </div>
  <div style="height:220px; width:100%;">
  </div>
</div>