<div class="container pt-3">
  <div class="row justify-content-center ">
    <div class="col-10 cover-img" >
      <%= image_tag 'top-logo', width: '90%', height: '90%', :class => "d-block mx-auto background-image" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-8">
      <p class="mt-1 mb-3">当サイトは、指定されたアニメタイトル・放送年のアニメを視聴し、ポイントを獲得してアバターの育成や称号の獲得をし、ランキング形式で全国のアニメユーザーと競争できる「アニメ×クエスト」を題材としたアニ活(アニメ活動)サービスです。</p>
    </div>
    <div class="offset-2"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-8 d-flex justify-content-around">
      <% if logged_in? %>
      <%= link_to image_tag('mypage.png', width: '80%', height: '80%'), user_path(current_user.uid), :class => "d-flex align-items-center justify-content-center" %>
      <% else %>
      <%= link_to image_tag('login.png', width: '80%', height: '80%'), login_page_path, :class => "d-flex align-items-center justify-content-center"%>
      <% end %>
      <%= link_to image_tag('rank.png', width: '80%', height: '80%'), ranking_path, :class => "d-flex align-items-center justify-content-center" %>
    </div>
    <div class="offset-2"></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-8">
      <h3 class="my-3 text-center">まだ観ぬアニメに触れ、推しを増やし、同志を増やし<br>楽しく"<strong>アニ活</strong>"しよう！</h3>
    </div>
    <div class="offset-2"></div>
  </div>
</div>