<div class="container-fluid">
  <div class="row pt-3">
    <div class="offset-1"></div>
    <div class="col-1 pr-0">
      <h1 class="text-right font-weight-bold"><i class="fa-solid fa-video"></i></h1>
    </div>
    <div class="col-3 pl-0">
      <h1 class="font-weight-bold border-dark border-bottom border-top">&nbsp;アニメ一覧</h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-2"></div>
    <div class="col-8">
      <p>2010~2022年に放送された全<strong><%= @animes.count %></strong>件のアニメ一覧です。</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-1"></div>
    <div class="col-10 p-0">
    <% @animes.each do |anime|%>
      <ul class="pl-3">
        <li>
        <%= anime.node.title %>
        </li>
        <li>
        <%= anime.node.season_year %>
        </li>
        </ul>
    <% end %>
    </div>
    <div class="offset-1"></div>
  </div>
</div>