/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #000;
  color: #696969;
  border-radius: 30px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  background: #bdbdbd;
  border-radius: 30px;
}


.official-site-url {
  cursor: pointer;
}

.top1{
  color:#ff7300;
}
.top2{
  color:#4682b4;
}
.top3{
  color:#8b4513
}